In [125]:
import pandas as pd

temp = pd.read_csv("stage3.csv")

In [126]:
temp1 = temp.dropna(subset = "gun_type")

In [127]:
#Organzied by State and time

temp2 = temp1.sort_values(by=['state', "date"])

temp3 = temp2.drop(columns=["incident_url", "source_url", "incident_url_fields_missing", "incident_characteristics", "latitude", "location_description", "longitude", "notes", "sources", "state_house_district",
            "state_senate_district"])

In [128]:
temp3.head(n=5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,gun_stolen,gun_type,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type
465,92453,2014-01-01,Alabama,Huntsville,4300 block of Patton Road,0,2,5.0,0::Unknown,0::Unknown,1.0,0::17,0::Teen 12-17||1::Adult 18+,0::Male||1::Male,NaN,NaN,0::Injured||1::Injured,0::Victim||1::Victim||2::Subject-Suspect
959,93118,2014-01-05,Alabama,Somerville,NE Hill Rd,1,0,5.0,0::Unknown,0::Unknown,1.0,NaN,0::Adult 18+||1::Adult 18+,0::Female||1::Female,0::Melissa Huber||1::Kristina Huber,1::Family,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect
1046,93760,2014-01-06,Alabama,Mobile,6400 block of Old Shell Road,0,0,1.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,2.0,6::16||7::16,6::Teen 12-17||7::Teen 12-17,6::Male||7::Male,6::Jason Corley Bradford Jr||7::Paul Johnson,NaN,0::Unharmed||1::Unharmed||2::Unharmed||3::Unha...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1986,95867,2014-01-13,Alabama,Marion,Interstate 24,0,1,7.0,0::Unknown,0::Unknown,1.0,0::39,0::Adult 18+||1::Adult 18+||2::Adult 18+,0::Male||1::Male||2::Female,0::Jesse Dalton,NaN,0::Injured||1::Unharmed||2::Unharmed,0::Victim||1::Subject-Suspect||2::Subject-Suspect
2237,97507,2014-01-14,Alabama,Talladega,Howard St,0,1,3.0,0::Unknown,0::Unknown,1.0,0::9,0::Child 0-11,0::Male,NaN,NaN,0::Injured,0::Victim

In [134]:
## Checking the data type of columns

temp3.dtypes

temp3.info(verbose=True)

##  re-indexing the dataframe

temp4 = temp3.reset_index(drop=True)

temp4.head(n=5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140226 entries, 465 to 239153
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   incident_id               140226 non-null  int64
 1   date                      140226 non-null  object
 2   state                     140226 non-null  object
 3   city_or_county            140226 non-null  object
 4   address                   130942 non-null  object
 5   n_killed                  140226 non-null  int64
 6   n_injured                 140226 non-null  int64
 7   congressional_district    128301 non-null  float64
 8   gun_stolen                140179 non-null  object
 9   gun_type                  140226 non-null  object
 10  n_guns_involved           140226 non-null  float64
 11  participant_age           91195 non-null   object
 12  participant_age_group     115234 non-null  object
 13  participant_gender        118579 non-null  object
 14  participant_name          75420 non-null   object
 15  participant_relationship  11661 non-null   object
 16  participant_status        123660 non-null  object
 17  participant_type          124655 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 20.3+ MB

,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,gun_stolen,gun_type,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type
0,92453,2014-01-01,Alabama,Huntsville,4300 block of Patton Road,0,2,5.0,0::Unknown,0::Unknown,1.0,0::17,0::Teen 12-17||1::Adult 18+,0::Male||1::Male,NaN,NaN,0::Injured||1::Injured,0::Victim||1::Victim||2::Subject-Suspect
1,93118,2014-01-05,Alabama,Somerville,NE Hill Rd,1,0,5.0,0::Unknown,0::Unknown,1.0,NaN,0::Adult 18+||1::Adult 18+,0::Female||1::Female,0::Melissa Huber||1::Kristina Huber,1::Family,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect
2,93760,2014-01-06,Alabama,Mobile,6400 block of Old Shell Road,0,0,1.0,0::Unknown||1::Unknown,0::Unknown||1::Unknown,2.0,6::16||7::16,6::Teen 12-17||7::Teen 12-17,6::Male||7::Male,6::Jason Corley Bradford Jr||7::Paul Johnson,NaN,0::Unharmed||1::Unharmed||2::Unharmed||3::Unha...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
3,95867,2014-01-13,Alabama,Marion,Interstate 24,0,1,7.0,0::Unknown,0::Unknown,1.0,0::39,0::Adult 18+||1::Adult 18+||2::Adult 18+,0::Male||1::Male||2::Female,0::Jesse Dalton,NaN,0::Injured||1::Unharmed||2::Unharmed,0::Victim||1::Subject-Suspect||2::Subject-Suspect
4,97507,2014-01-14,Alabama,Talladega,Howard St,0,1,3.0,0::Unknown,0::Unknown,1.0,0::9,0::Child 0-11,0::Male,NaN,NaN,0::Injured,0::Victim

In [135]:
# ## Note gun_stolen column values is a string, but with inner and outer separators, according to James' Gun Violence data repo

## But let's make sure that it is in a string format

temp5 = temp4.astype({'gun_stolen':str})

## using an example to extract specific texts...
stats = temp5.loc[321, 'gun_stolen']

print(stats)

# for i in range(len(stats)):
#     if stats[i] == '|' and stats[i+1] == '|':
#         gs0 = stats[0:i]
#         gs1 = stats[i+2:]
#         break

# print(gs0)
# print(gs1)

## Now create a function to take care of || ....

text_list = [] 
def extract(x):
    """This is a recursive function to extract text separated by ||"""
    ch = '|'
    if ch not in x:
        text_list.append(x)
        return text_list
    else:
        for i in range(len(x)):
            if x[i] == '|' and x[i+1] == '|':
                first_text = x[0:i]
                text_list.append(first_text)
                newtext = x[i+2:]
                extract(newtext)
                break
        return text_list

0::Unknown||1::Unknown||2::Unknown

In [137]:
## Now apply extract function to gun_stolen column

for i in range(len(temp4)):
    stats = temp5.loc[i, 'gun_stolen']
    text_list = []
    better_stats = extract(stats)
    temp5.at[i, 'gun_stolen'] = better_stats

In [138]:
temp5.head(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,gun_stolen,gun_type,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type
0,92453,2014-01-01,Alabama,Huntsville,4300 block of Patton Road,0,2,5.0,[0::Unknown],0::Unknown,1.0,0::17,0::Teen 12-17||1::Adult 18+,0::Male||1::Male,NaN,NaN,0::Injured||1::Injured,0::Victim||1::Victim||2::Subject-Suspect
1,93118,2014-01-05,Alabama,Somerville,NE Hill Rd,1,0,5.0,[0::Unknown],0::Unknown,1.0,NaN,0::Adult 18+||1::Adult 18+,0::Female||1::Female,0::Melissa Huber||1::Kristina Huber,1::Family,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect
2,93760,2014-01-06,Alabama,Mobile,6400 block of Old Shell Road,0,0,1.0,"[0::Unknown, 1::Unknown]",0::Unknown||1::Unknown,2.0,6::16||7::16,6::Teen 12-17||7::Teen 12-17,6::Male||7::Male,6::Jason Corley Bradford Jr||7::Paul Johnson,NaN,0::Unharmed||1::Unharmed||2::Unharmed||3::Unha...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
3,95867,2014-01-13,Alabama,Marion,Interstate 24,0,1,7.0,[0::Unknown],0::Unknown,1.0,0::39,0::Adult 18+||1::Adult 18+||2::Adult 18+,0::Male||1::Male||2::Female,0::Jesse Dalton,NaN,0::Injured||1::Unharmed||2::Unharmed,0::Victim||1::Subject-Suspect||2::Subject-Suspect
4,97507,2014-01-14,Alabama,Talladega,Howard St,0,1,3.0,[0::Unknown],0::Unknown,1.0,0::9,0::Child 0-11,0::Male,NaN,NaN,0::Injured,0::Victim

In [142]:
split_df = pd.DataFrame(temp5['gun_stolen'].tolist())
split_df.head(10)

## Apparrently there is one observation with 400 guns!?!?

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,0::Unknown,1::Unknown,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,0::Unknown,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None